*{
  border: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header, footer{
    background-color: red;
    width: 100vw;
    height: 10vh;
}
.container{
    width: 100vw;
    min-height: 80vh;
    background-color:rgb(225, 224, 204);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.banner{
    width: 80vw;
    height: 30vh;
    border-radius: 10px;
    overflow: hidden;
    margin-top: 5vh;
}
.slides{
    width: 400%;
    height: 100%;
    display: flex;
    animation: slide 20s infinite;
}
.slide{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.slide>img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

@keyframes slide {
    0% { transform: translateX(0); }
    20% { transform: translateX(0); }
    25% { transform: translateX(-25%); }
    45% { transform: translateX(-25%); }
    50% { transform: translateX(-50%); }
    70% { transform: translateX(-50%); }
    75% { transform: translateX(-75%); }
    95% { transform: translateX(-75%); }
    100% { transform: translateX(0); }
}

.cards{
    width: 80vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 5vw;
    padding: 5vh 0;
}

.card{
    width: 30vh;
    height: 30vh;
    background-color: green;
    color: white;
    border-radius: 10px;
}
.card>img{
    width: 100%;
    height: 80%;
    border-radius: 10px 10px 0 0;
}
.card>p{
    text-align: center;
}

@media screen and (max-width: 900px) {

 .banner{
    display: none;
 }
    
}